:root {
/* light colors */
  --background-color-ligth: #fff;
  --subtitle-color-ligth:#32333c;
  --body-color-ligth:#f6f8fc;
  --paragraphs-color-ligth:#8a8fa3;
  

  /* dark colors */
  --background-color-dark:#252525;
  --text-subtitle-color-dark:#CCCCCC;
  --paragraphs-color-dark:#9f9f9f;
  --body-color-dark:#393838;
  


  /* universal colors */
  --title-color-light-dark:#022144;
  --banner-background-color-ligth-dark:#fafbfc;
  --light-color:#ffbf47;
  --dark-color:#8f7502;
  
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.limite-container {
  max-width: 1024px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

li {
  list-style: none;
}